<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Mogenerator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Prospeqt_mobile.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4739BC081800BFFC004A6500</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4739BC0C1800C2C9004A6500</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4739BC141800C664004A6500</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4739BC181800C741004A6500</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>47BBD7AD17D40E630050814D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>47BBD7D217D40E630050814D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
